$main-color: #4654ff;
$shop-color1: #ffc12c;
$shop-color2: #fb416b;
$twitter-color:#2aa3f0;
$facebook-color:#3b5998;
$instagram-color:#fb416b;
$penterst-color:#bd081c;
$youtube-color:#fc0d1c;
$font-family: 'Roboto', sans-serif;
$main-transition : .3s;
$main-padding: 50px;
$light: #f8f9fa;
$dark: #333;