@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

h1 {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

h4 {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

h5 {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

h6 {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.but-blue {
  background-color: #4654ff;
  color: #f8f9fa;
}

.but-light {
  background-color: #f8f9fa;
  color: #4654ff;
}

.text-main {
  color: #4654ff;
}

.w-sonice {
  width: 80%;
}

.w-nice {
  width: 60%;
}

.text-bold {
  font-weight: bold;
}

.text-normal {
  font-weight: normal;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.main-p {
  font-size: 18px;
  line-height: 1.2;
}

.bg-main {
  background-color: #f8f8f8;
}

.show-when-scroll {
  position: relative;
  will-change: transform;
  transform: scale(0);
  will-change: transform;
}
.show-when-scroll.active {
  animation: bla 0.3s 1 linear forwards;
}
@keyframes bla {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

body {
  color: #333;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

section.toys .header {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 3px solid #eee;
}
@media (max-width: 575px) {
  section.toys .header {
    flex-direction: column;
  }
  section.toys .header .link {
    margin-top: 20px;
  }
}
section.toys .header .link {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 3px solid #eee;
  will-change: border-color;
  transition: border-color 0.3s;
}
section.toys .header .link:hover {
  border-color: #4654ff;
}
section.toys .header::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: #4654ff;
}
section.toys .body {
  display: grid;
  gap: 20px;
}
@media (min-width: 576px) {
  section.toys .body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  section.toys .body {
    grid-template-columns: repeat(4, 1fr);
  }
}
section.toys .body .my-card {
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px #ccc;
  will-change: box-shadow;
  transition-duration: 0.3s;
  transition-property: box-shadow;
}
section.toys .body .my-card p {
  color: #333;
  margin-top: 30px;
}
section.toys .body .my-card:hover {
  box-shadow: 0px 0px 15px 0px #ccc;
}

.my-form {
  border-radius: 16px;
  text-align: center;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
  border: 2px solid #e2e1e1;
  background-color: #f8f8f8;
  will-change: border-color, background-color;
  transition: border-color 0.3s, background-color 0.3s;
}
.my-form:hover {
  background-color: white;
}
.my-form:focus {
  border-color: #4654ff;
  outline: none;
}

.but {
  display: inline-block;
  cursor: pointer;
  border: 0;
  will-change: box-shadow;
  transition: box-shadow 0.3s;
  background-color: #4654ff;
  color: #fff;
  padding: 10px 30px;
  border-radius: 20px;
}
.but:hover {
  box-shadow: 0 8px 8px -4px rgba(17, 17, 17, 0.2);
  color: #fff;
}
.but.but-white {
  background-color: #fff;
  color: #333;
}
.but.but-white:hover {
  color: #333;
}

.underline {
  position: relative;
}
.underline::before {
  content: "";
  position: absolute;
  background-color: #4654ff;
  width: 100px;
  height: 5px;
  bottom: -15px;
  left: 0;
}
@media (max-width: 991px) {
  .underline::before {
    left: calc(50% - 50px);
  }
}

.mainNav {
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
.mainNav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainNav > div * {
  padding-top: 10px;
  padding-bottom: 10px;
}
.mainNav > div ul {
  margin-right: auto;
  list-style: none;
  display: flex;
  margin-bottom: 0;
  justify-content: space-between;
  flex: 0.8;
}
.mainNav > div ul.active {
  display: none;
}
@media (min-width: 1200px) {
  .mainNav > div ul {
    flex: 0.5;
  }
}
.mainNav > div ul li:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .mainNav > div ul {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    padding: 0;
    z-index: 1000;
    background-color: #fff;
    top: calc(100% + 1px);
  }
  .mainNav > div ul li {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px solid #eee;
  }
  .mainNav > div ul li a {
    padding-left: 15px;
    display: block;
    width: 100%;
    will-change: background-color;
    transition: background-color 0.3s;
  }
  .mainNav > div ul li a:hover {
    background-color: #4654ff;
  }
}
.mainNav > div .carts {
  margin-left: auto;
  cursor: pointer;
}
.mainNav > div .carts span:nth-of-type(2) {
  margin-right: 10px;
  margin-left: 10px;
}
.mainNav > div .carts span:last-of-type {
  background-color: #4654ff;
  padding: 10px 14px;
  border-radius: 50%;
  color: #f8f9fa;
  font-weight: bold;
}
.mainNav > div .toggler {
  cursor: pointer;
  padding-left: 5px;
  border-left: 1px solid #eee;
  margin-left: 10px;
  display: none;
}
.mainNav > div .toggler.active svg {
  color: #4654ff;
}
@media (max-width: 767px) {
  .mainNav > div .toggler {
    display: block;
  }
}

header.consthead {
  background-color: #4654ff;
}
header.consthead > div {
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap row;
  align-items: center;
  color: #f8f9fa;
  padding: 5px;
}
header.consthead > div a {
  text-decoration: underline;
}
header.consthead > div * {
  margin: 0;
}
@media (max-width: 767px) {
  header.consthead > div {
    flex-direction: column;
    justify-content: center;
  }
  header.consthead > div .address {
    margin-bottom: 10px;
  }
}

.social {
  display: inline;
  list-style: none;
  padding-left: 0;
}
.social li {
  color: #eeeeee;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}
.social li:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.overlay {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1200;
}
.overlay.active {
  display: block;
}

.show-carts {
  display: none;
  background-color: #fff;
  border-radius: 16px;
  position: fixed;
  z-index: 2000;
  width: 600px;
  max-width: 100%;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.show-carts.active {
  display: block;
}
@media (max-width: 575px) {
  .show-carts {
    width: 100%;
    height: 600px;
  }
}
.show-carts > * {
  padding: 20px;
}
.show-carts button {
  padding: 10px;
  margin: 20px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.show-carts .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
}
.show-carts .body {
  overflow: auto;
}
.show-carts .body .element {
  padding-bottom: 20px;
  border-bottom: 2px solid #eee;
  display: flex;
  align-items: center;
}
.show-carts .body .element img {
  width: 70px;
}
.show-carts .body .element > span {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 20px;
}
.show-carts .body .element .number {
  margin-left: auto;
  font-size: 30px;
}
@media (max-width: 400px) {
  .show-carts .body .element {
    flex-flow: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }
  .show-carts .body .element > span, .show-carts .body .element .number {
    margin: unset;
  }
}
.show-carts .body .element .link {
  cursor: pointer;
}
.show-carts .footer {
  border-top: 2px solid #eee;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 400px) {
  .show-carts .footer {
    flex-direction: column;
    align-items: center;
  }
}

.scroll-to-top {
  position: fixed;
  background-color: #4654ff;
  padding: 8px 8px;
  transform: rotate(-90deg);
  border-radius: 50%;
  bottom: 25px;
  right: 25px;
  z-index: 1101;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.scroll-to-top img {
  width: 20px;
}

section.wrapper > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
section.wrapper > div .toy-card {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  position: relative;
  padding: 30px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  width: 500px;
}
@media (max-width: 991px) {
  section.wrapper > div .toy-card {
    grid-column: 1/3;
  }
}
@media (max-width: 575px) {
  section.wrapper > div .toy-card {
    width: 300px;
    height: 300px;
    align-items: flex-end;
  }
}
@media (max-width: 300px) {
  section.wrapper > div .toy-card {
    width: 100%;
  }
}
section.wrapper > div .toy-card.card-1 {
  background-color: #ffc12c;
}
section.wrapper > div .toy-card.card-1 img {
  left: 50px;
}
section.wrapper > div .toy-card.card-1 div {
  margin-left: auto;
}
@media (max-width: 575px) {
  section.wrapper > div .toy-card.card-1 div {
    margin-right: auto;
  }
}
section.wrapper > div .toy-card.card-2 {
  background-color: #fb416b;
}
section.wrapper > div .toy-card.card-2 img {
  right: 50px;
}
section.wrapper > div .toy-card.card-2 div {
  margin-right: auto;
}
@media (max-width: 575px) {
  section.wrapper > div .toy-card.card-2 div {
    margin-left: auto;
  }
}
section.wrapper > div .toy-card img {
  position: absolute;
  width: 220px;
  top: -30%;
}
@media (max-width: 767px) {
  section.wrapper > div .toy-card img {
    width: 175px;
  }
}
@media (max-width: 575px) {
  section.wrapper > div .toy-card img {
    width: 200px;
    top: -10%;
    right: unset !important;
    left: 50% !important;
    transform: translatex(-50%);
  }
}

section.story {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/unsplash1.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
}
section.story img {
  background-color: #4654ff;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}

section.subscribe > div .sub {
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 40px 50px;
  border-radius: 16px;
}
@media (max-width: 575px) {
  section.subscribe > div .sub {
    padding: 15px 30px;
  }
}
section.subscribe > div .sub img {
  background-color: #4654ff;
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 40px;
}
section.subscribe > div .sub form {
  margin-top: 40px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
section.subscribe > div .sub input {
  width: 100%;
}

section.subfooter img {
  border-radius: 16px;
  will-change: box-shadow;
  box-shadow: 0px 0px 5px 2px #ccc;
  transition: box-shadow 0.3s;
}
section.subfooter img:hover {
  box-shadow: 0px 0px 20px 2px #ccc;
}

footer {
  background-color: #4654ff;
  color: #fff;
}
footer > div {
  text-align: center;
  display: flex;
  flex-flow: wrap column;
}
footer > div > * {
  flex: 1;
}
@media (min-width: 992px) {
  footer > div {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
footer > div ul {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 !important;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

section.where-i-am {
  padding: 10px 20px;
  margin-top: 50px;
  width: 90%;
  box-shadow: 0px 0px 5px 0px #ccc;
  border-radius: 16px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #e2e1e1;
  height: -moz-fit-content;
  height: fit-content;
}
section.where-i-am a {
  color: #777;
}
section.where-i-am a:hover {
  text-decoration: underline;
}
section.where-i-am *:not(a:first-of-type) {
  margin-left: 10px;
}

.line-height-d2 {
  line-height: 1.3 !important;
}

.line-height-d1 {
  line-height: 1.8 !important;
}

@media (min-width: 576px) {
  .line-height-sm-d2 {
    line-height: 1.3 !important;
  }
}

@media (min-width: 768px) {
  .line-height-md-d2 {
    line-height: 1.3 !important;
  }
}

@media (min-width: 992px) {
  .line-height-lg-d2 {
    line-height: 1.3 !important;
  }
}

@media (min-width: 1200px) {
  .line-height-xl-d2 {
    line-height: 1.3 !important;
  }
}

@media (min-width: 576px) {
  .line-height-sm-d1 {
    line-height: 1.8 !important;
  }
}

@media (min-width: 768px) {
  .line-height-md-d1 {
    line-height: 1.8 !important;
  }
}

@media (min-width: 992px) {
  .line-height-lg-d1 {
    line-height: 1.8 !important;
  }
}

@media (min-width: 1200px) {
  .line-height-xl-d1 {
    line-height: 1.8 !important;
  }
}

.f-d5 {
  font-size: 14px !important;
}

.f-d4 {
  font-size: 22px !important;
}

.f-d3 {
  font-size: 30px !important;
}

.f-d2 {
  font-size: 45px !important;
}

.f-d1 {
  font-size: 60px !important;
}

@media (min-width: 576px) {
  .f-sm-d5 {
    font-size: 14px !important;
  }
}

@media (min-width: 768px) {
  .f-md-d5 {
    font-size: 14px !important;
  }
}

@media (min-width: 992px) {
  .f-lg-d5 {
    font-size: 14px !important;
  }
}

@media (min-width: 1200px) {
  .f-xl-d5 {
    font-size: 14px !important;
  }
}

@media (min-width: 576px) {
  .f-sm-d4 {
    font-size: 22px !important;
  }
}

@media (min-width: 768px) {
  .f-md-d4 {
    font-size: 22px !important;
  }
}

@media (min-width: 992px) {
  .f-lg-d4 {
    font-size: 22px !important;
  }
}

@media (min-width: 1200px) {
  .f-xl-d4 {
    font-size: 22px !important;
  }
}

@media (min-width: 576px) {
  .f-sm-d3 {
    font-size: 30px !important;
  }
}

@media (min-width: 768px) {
  .f-md-d3 {
    font-size: 30px !important;
  }
}

@media (min-width: 992px) {
  .f-lg-d3 {
    font-size: 30px !important;
  }
}

@media (min-width: 1200px) {
  .f-xl-d3 {
    font-size: 30px !important;
  }
}

@media (min-width: 576px) {
  .f-sm-d2 {
    font-size: 45px !important;
  }
}

@media (min-width: 768px) {
  .f-md-d2 {
    font-size: 45px !important;
  }
}

@media (min-width: 992px) {
  .f-lg-d2 {
    font-size: 45px !important;
  }
}

@media (min-width: 1200px) {
  .f-xl-d2 {
    font-size: 45px !important;
  }
}

@media (min-width: 576px) {
  .f-sm-d1 {
    font-size: 60px !important;
  }
}

@media (min-width: 768px) {
  .f-md-d1 {
    font-size: 60px !important;
  }
}

@media (min-width: 992px) {
  .f-lg-d1 {
    font-size: 60px !important;
  }
}

@media (min-width: 1200px) {
  .f-xl-d1 {
    font-size: 60px !important;
  }
}

div.home section.head {
  background: url("../images/unsplash0.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 94%;
  height: 80vh;
  display: flex;
  align-items: center;
}
div.home section.head > div > div {
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 70px;
  background-color: #fff;
}
@media (max-width: 767px) {
  div.home section.head > div > div {
    padding: 30px 40px;
  }
}
@media (max-width: 575px) {
  div.home section.head > div > div {
    padding: 10px 20px;
  }
}
div.home section.head > div > div h1 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

div.catalog section.toys .header {
  justify-content: center !important;
}
div.catalog section.toys .header > div:first-of-type {
  display: none;
}
@media (max-width: 575px) {
  div.catalog section.toys .header .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 125px;
  }
}

div.delivery section.info {
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px #ccc;
}
@media (max-width: 767px) {
  div.delivery section.info {
    padding: 30px 40px;
  }
}
@media (max-width: 575px) {
  div.delivery section.info {
    padding: 20px 30px;
  }
}
div.delivery section.info .contact {
  margin-top: 50px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  border: 1px solid #ccc;
  padding: 20px 40px;
  border-radius: 16px;
}

div.contact section.info {
  display: grid;
  gap: 50px;
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px #ccc;
}
@media (min-width: 1200px) {
  div.contact section.info {
    grid-template-columns: 1fr 1fr;
  }
  div.contact section.info > div:first-of-type {
    grid-column: 1/2;
  }
  div.contact section.info > div:last-of-type {
    grid-column: 2/3;
  }
}
@media (max-width: 767px) {
  div.contact section.info {
    padding: 30px 40px;
    gap: 30px;
  }
}
@media (max-width: 575px) {
  div.contact section.info {
    padding: 20px 30px;
    gap: 20px;
  }
}
div.contact section.info .social li.twitter {
  background-color: #2aa3f0;
}
div.contact section.info .social li.facebook {
  background-color: #3b5998;
}
div.contact section.info .social li.instagram {
  background-color: #fb416b;
}
div.contact section.info .social li.pinterest {
  background-color: #bd081c;
}
div.contact section.info .social li.youtube {
  background-color: #fc0d1c;
}

body.toys section.info {
  display: grid;
  gap: 40px;
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px #ccc;
}
@media (min-width: 1200px) {
  body.toys section.info {
    grid-template-columns: 1fr 1fr;
  }
  body.toys section.info .header, body.toys section.info .title {
    grid-column: 1/3;
  }
}
@media (max-width: 767px) {
  body.toys section.info {
    padding: 30px 40px;
    gap: 30px;
  }
}
@media (max-width: 575px) {
  body.toys section.info {
    padding: 20px 30px;
    gap: 20px;
  }
}
body.toys section.info .header {
  display: grid;
  gap: inherit;
  align-items: center;
}
@media (min-width: 1200px) {
  body.toys section.info .header {
    grid-template-columns: 1fr 1fr;
  }
}
body.toys section.info .header > * {
  margin-right: auto;
  margin-left: auto;
}
body.toys section.info .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #eee;
  position: relative;
}
body.toys section.info .title::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: #4654ff;
}
body.toys section.info > .text:last-of-type {
  align-self: flex-start;
  max-width: 400px;
  border: 2px solid #eee;
  padding: 30px 30px 20px;
  border-radius: 18px;
}
body.toys section.info > .text:last-of-type > p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
body.toys section.info > .text:last-of-type > P:not(:last-of-type) {
  border-bottom: 2px solid #eee;
}/*# sourceMappingURL=main.css.map */